.modal_background{
    left:0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height:100%;
}
.modal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    min-width: 270px;
    height: 40%;
    min-height: 450px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid gray;
    border-radius: 0.35rem;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.modal button{
    width: 3%;
    min-width: 30px;
}
.modal_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal_header{
    text-align: center;
    width: 100%;
    height: 5%;
    margin-bottom: 5%;
}
.modal_body{
    width: 90%;
    height: 80%;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.modal_body form button{
    margin-top: 5%;
    width: 20%;
    
}

.form_group{
    padding: 2%;
    width: 50%;
}
.text{
    border: 1px solid gray;
    border-radius: 0.35rem;
    outline-width:1px ;
    outline-color: orange;
    padding: 1%;
    width: 100%;
    min-width: 150px;
    min-height: 20px;
}
.form_group label{
    width: 100%;
}
